AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_SESSION_TOKEN=your_aws_session_token

PINELABS_CLIENT_ID=your_pinelabs_client_id
PINELABS_CLIENT_SECRET=your_pinelabs_client_secret
PINELABS_BUSINESS_NAME=your_business_name

USE_REAL_SETU=false
MOCK_DATA_PATH=data/mock
